SECRET_KEY=your_secret_key
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/restaurant_db
TEST_DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/test_restaurant_db
REDIS_URL=redis://localhost:6379